# Anchor
.anchor
target/
**/*.rs.bk
test-ledger/

# IDL
*.json
!package.json
!tsconfig.json

# Node
node_modules/
dist/
.DS_Store
.next/

# Solana
.keys/
tmp
app/.next/package.json
app/.next/trace
app/.next/trace-build
app/.next/cache/.previewinfo
app/.next/cache/.rscinfo
app/.next/dev/lock
app/.next/dev/package.json
app/.next/dev/trace
app/.next/dev/build/package.json
app/.next/dev/build/postcss.js
app/.next/dev/build/postcss.js.map
app/.next/dev/build/chunks/\[root-of-the-server]__039f56b3._.js
app/.next/dev/build/chunks/\[root-of-the-server]__039f56b3._.js.map
app/.next/dev/build/chunks/\[root-of-the-server]__d2c4f162._.js
app/.next/dev/build/chunks/\[root-of-the-server]__d2c4f162._.js.map
app/.next/dev/build/chunks/\[turbopack-node]_transforms_postcss_ts_1017c730._.js
app/.next/dev/build/chunks/\[turbopack-node]_transforms_postcss_ts_1017c730._.js.map
app/.next/dev/build/chunks/\[turbopack]_runtime.js
app/.next/dev/build/chunks/\[turbopack]_runtime.js.map
app/.next/dev/build/chunks/9a875_4c5fc871._.js
app/.next/dev/build/chunks/9a875_4c5fc871._.js.map
app/.next/dev/cache/.rscinfo
app/.next/dev/logs/next-development.log
app/.next/dev/server/interception-route-rewrite-manifest.js
app/.next/dev/server/middleware-build-manifest.js
app/.next/dev/server/next-font-manifest.js
app/.next/dev/server/server-reference-manifest.js
app/.next/dev/server/app/page_client-reference-manifest.js
app/.next/dev/server/app/page.js
app/.next/dev/server/app/page.js.map
app/.next/dev/server/app/_not-found/page_client-reference-manifest.js
app/.next/dev/server/app/_not-found/page.js
app/.next/dev/server/app/_not-found/page.js.map
app/.next/dev/server/app/options/page_client-reference-manifest.js
app/.next/dev/server/app/options/page.js
app/.next/dev/server/app/options/page.js.map
app/.next/dev/server/chunks/ssr/\[externals]_next_dist_shared_lib_no-fallback-error_external_59b92b38.js
app/.next/dev/server/chunks/ssr/\[externals]_next_dist_shared_lib_no-fallback-error_external_59b92b38.js.map
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__1aaf5479._.js
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__1aaf5479._.js.map
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__7f148858._.js
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__7f148858._.js.map
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__82b6eb56._.js
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__82b6eb56._.js.map
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__928aaaa6._.js
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__928aaaa6._.js.map
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__a5a6ed85._.js
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__a5a6ed85._.js.map
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__a36a8d4e._.js
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__a36a8d4e._.js.map
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__c24be6d9._.js
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__c24be6d9._.js.map
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__e6a4d965._.js
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__e6a4d965._.js.map
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__f0cd35b5._.js
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__f0cd35b5._.js.map
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__f99046f7._.js
app/.next/dev/server/chunks/ssr/\[root-of-the-server]__f99046f7._.js.map
app/.next/dev/server/chunks/ssr/\[turbopack]_runtime.js
app/.next/dev/server/chunks/ssr/\[turbopack]_runtime.js.map
app/.next/dev/server/chunks/ssr/9a875_@coral-xyz_anchor_dist_esm_99cfa698._.js
app/.next/dev/server/chunks/ssr/9a875_@coral-xyz_anchor_dist_esm_99cfa698._.js.map
app/.next/dev/server/chunks/ssr/9a875_@noble_curves_esm_5d8e832b._.js
app/.next/dev/server/chunks/ssr/9a875_@noble_curves_esm_5d8e832b._.js.map
app/.next/dev/server/chunks/ssr/9a875_@solana_0488a7da._.js
app/.next/dev/server/chunks/ssr/9a875_@solana_0488a7da._.js.map
app/.next/dev/server/chunks/ssr/9a875_@solana_e165442c._.js
app/.next/dev/server/chunks/ssr/9a875_@solana_e165442c._.js.map
app/.next/dev/server/chunks/ssr/9a875_@solana_web3_js_lib_index_esm_fd2838b5.js
app/.next/dev/server/chunks/ssr/9a875_@solana_web3_js_lib_index_esm_fd2838b5.js.map
app/.next/dev/server/chunks/ssr/9a875_@solana-mobile_040b8eea._.js
app/.next/dev/server/chunks/ssr/9a875_@solana-mobile_040b8eea._.js.map
app/.next/dev/server/chunks/ssr/9a875_@solflare-wallet_31ed60bc._.js
app/.next/dev/server/chunks/ssr/9a875_@solflare-wallet_31ed60bc._.js.map
app/.next/dev/server/chunks/ssr/9a875_@solflare-wallet_metamask-sdk_469f4af2._.js
app/.next/dev/server/chunks/ssr/9a875_@solflare-wallet_metamask-sdk_469f4af2._.js.map
app/.next/dev/server/chunks/ssr/9a875_@solflare-wallet_sdk_aedb1438._.js
app/.next/dev/server/chunks/ssr/9a875_@solflare-wallet_sdk_aedb1438._.js.map
app/.next/dev/server/chunks/ssr/9a875_69ab24eb._.js
app/.next/dev/server/chunks/ssr/9a875_69ab24eb._.js.map
app/.next/dev/server/chunks/ssr/9a875_99b9cddb._.js
app/.next/dev/server/chunks/ssr/9a875_99b9cddb._.js.map
app/.next/dev/server/chunks/ssr/9a875_602f9f65._.js
app/.next/dev/server/chunks/ssr/9a875_602f9f65._.js.map
app/.next/dev/server/chunks/ssr/9a875_a75a0fbd._.js
app/.next/dev/server/chunks/ssr/9a875_a75a0fbd._.js.map
app/.next/dev/server/chunks/ssr/9a875_c377ea33._.js
app/.next/dev/server/chunks/ssr/9a875_c377ea33._.js.map
app/.next/dev/server/chunks/ssr/9a875_e452447e._.js
app/.next/dev/server/chunks/ssr/9a875_e452447e._.js.map
app/.next/dev/server/chunks/ssr/9a875_next_89745506._.js
app/.next/dev/server/chunks/ssr/9a875_next_89745506._.js.map
app/.next/dev/server/chunks/ssr/9a875_next_dist_0f06dc15._.js
app/.next/dev/server/chunks/ssr/9a875_next_dist_0f06dc15._.js.map
app/.next/dev/server/chunks/ssr/9a875_next_dist_7dd9913a._.js
app/.next/dev/server/chunks/ssr/9a875_next_dist_7dd9913a._.js.map
app/.next/dev/server/chunks/ssr/9a875_next_dist_91eccbb6._.js
app/.next/dev/server/chunks/ssr/9a875_next_dist_91eccbb6._.js.map
app/.next/dev/server/chunks/ssr/9a875_next_dist_0384e9c7._.js
app/.next/dev/server/chunks/ssr/9a875_next_dist_0384e9c7._.js.map
app/.next/dev/server/chunks/ssr/9a875_next_dist_95173667._.js
app/.next/dev/server/chunks/ssr/9a875_next_dist_95173667._.js.map
app/.next/dev/server/chunks/ssr/9a875_next_dist_c5381e7b._.js
app/.next/dev/server/chunks/ssr/9a875_next_dist_c5381e7b._.js.map
app/.next/dev/server/chunks/ssr/9a875_next_dist_cfb0e9a6._.js
app/.next/dev/server/chunks/ssr/9a875_next_dist_cfb0e9a6._.js.map
app/.next/dev/server/chunks/ssr/9a875_next_dist_client_components_51027f25._.js
app/.next/dev/server/chunks/ssr/9a875_next_dist_client_components_51027f25._.js.map
app/.next/dev/server/chunks/ssr/9a875_next_dist_client_components_builtin_forbidden_ae4ae3d5.js
app/.next/dev/server/chunks/ssr/9a875_next_dist_client_components_builtin_forbidden_ae4ae3d5.js.map
app/.next/dev/server/chunks/ssr/9a875_next_dist_client_components_builtin_global-error_ca141faa.js
app/.next/dev/server/chunks/ssr/9a875_next_dist_client_components_builtin_global-error_ca141faa.js.map
app/.next/dev/server/chunks/ssr/9a875_next_dist_client_components_builtin_unauthorized_10acbd9e.js
app/.next/dev/server/chunks/ssr/9a875_next_dist_client_components_builtin_unauthorized_10acbd9e.js.map
app/.next/dev/server/chunks/ssr/9a875_next_dist_fc611b08._.js
app/.next/dev/server/chunks/ssr/9a875_next_dist_fc611b08._.js.map
app/.next/dev/server/chunks/ssr/9a875_pako_dist_pako_esm_mjs_4d47d352._.js
app/.next/dev/server/chunks/ssr/9a875_pako_dist_pako_esm_mjs_4d47d352._.js.map
app/.next/dev/server/chunks/ssr/9a875_toml_fd0fd0d3._.js
app/.next/dev/server/chunks/ssr/9a875_toml_fd0fd0d3._.js.map
app/.next/dev/server/chunks/ssr/9a875_tr46_e1d5552c._.js
app/.next/dev/server/chunks/ssr/9a875_tr46_e1d5552c._.js.map
app/.next/dev/server/chunks/ssr/9a875_ws_fa2034e5._.js
app/.next/dev/server/chunks/ssr/9a875_ws_fa2034e5._.js.map
app/.next/dev/server/chunks/ssr/app__next-internal_server_app__not-found_page_actions_ab7a167c.js
app/.next/dev/server/chunks/ssr/app__next-internal_server_app__not-found_page_actions_ab7a167c.js.map
app/.next/dev/server/chunks/ssr/app__next-internal_server_app_options_page_actions_0c00b3eb.js
app/.next/dev/server/chunks/ssr/app__next-internal_server_app_options_page_actions_0c00b3eb.js.map
app/.next/dev/server/chunks/ssr/app__next-internal_server_app_page_actions_0545f526.js
app/.next/dev/server/chunks/ssr/app__next-internal_server_app_page_actions_0545f526.js.map
app/.next/dev/server/chunks/ssr/app_b557fdca._.js
app/.next/dev/server/chunks/ssr/app_b557fdca._.js.map
app/.next/dev/server/chunks/ssr/app_src_app_page_tsx_ecd0631f._.js
app/.next/dev/server/chunks/ssr/app_src_app_page_tsx_ecd0631f._.js.map
app/.next/dev/server/pages/_app.js
app/.next/dev/server/pages/_app.js.map
app/.next/dev/server/pages/_document.js
app/.next/dev/server/pages/_document.js.map
app/.next/dev/server/pages/_error.js
app/.next/dev/server/pages/_error.js.map
app/.next/dev/static/chunks/\[next]_entry_page-loader_ts_020254d9._.js
app/.next/dev/static/chunks/\[next]_entry_page-loader_ts_020254d9._.js.map
app/.next/dev/static/chunks/\[next]_entry_page-loader_ts_36529e23._.js
app/.next/dev/static/chunks/\[next]_entry_page-loader_ts_36529e23._.js.map
app/.next/dev/static/chunks/\[root-of-the-server]__24cf4ba4._.js
app/.next/dev/static/chunks/\[root-of-the-server]__24cf4ba4._.js.map
app/.next/dev/static/chunks/\[root-of-the-server]__e497ff90._.js
app/.next/dev/static/chunks/\[root-of-the-server]__e497ff90._.js.map
app/.next/dev/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_21c14052._.js
app/.next/dev/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_b54ebb80._.js
app/.next/dev/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_b54ebb80._.js.map
app/.next/dev/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_c8c997ce._.js
app/.next/dev/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_c8c997ce._.js.map
app/.next/dev/static/chunks/9a875_@noble_curves_esm_aefbfb14._.js
app/.next/dev/static/chunks/9a875_@noble_curves_esm_aefbfb14._.js.map
app/.next/dev/static/chunks/9a875_@solana_388f87ad._.js
app/.next/dev/static/chunks/9a875_@solana_388f87ad._.js.map
app/.next/dev/static/chunks/9a875_@solana_81639c88._.js
app/.next/dev/static/chunks/9a875_@solana_81639c88._.js.map
app/.next/dev/static/chunks/9a875_@solana_wallet-adapter-react-ui_styles_css_bad6b30c._.single.css
app/.next/dev/static/chunks/9a875_@solana_wallet-adapter-react-ui_styles_css_bad6b30c._.single.css.map
app/.next/dev/static/chunks/9a875_@solana_web3_js_lib_index_browser_esm_9252b01a.js
app/.next/dev/static/chunks/9a875_@solana_web3_js_lib_index_browser_esm_9252b01a.js.map
app/.next/dev/static/chunks/9a875_@solana-mobile_e8d5181b._.js
app/.next/dev/static/chunks/9a875_@solana-mobile_e8d5181b._.js.map
app/.next/dev/static/chunks/9a875_@solflare-wallet_4b864dad._.js
app/.next/dev/static/chunks/9a875_@solflare-wallet_4b864dad._.js.map
app/.next/dev/static/chunks/9a875_@solflare-wallet_23b861fb._.js
app/.next/dev/static/chunks/9a875_@solflare-wallet_23b861fb._.js.map
app/.next/dev/static/chunks/9a875_@solflare-wallet_metamask-sdk_b33e0bd4._.js
app/.next/dev/static/chunks/9a875_@solflare-wallet_metamask-sdk_b33e0bd4._.js.map
app/.next/dev/static/chunks/9a875_@solflare-wallet_metamask-sdk_lib_esm_index_3952c554.js
app/.next/dev/static/chunks/9a875_@solflare-wallet_metamask-sdk_lib_esm_index_c6522901.js
app/.next/dev/static/chunks/9a875_@solflare-wallet_sdk_1cb11c9c._.js
app/.next/dev/static/chunks/9a875_@solflare-wallet_sdk_1cb11c9c._.js.map
app/.next/dev/static/chunks/9a875_@solflare-wallet_sdk_lib_esm_index_8cdfb2b2.js
app/.next/dev/static/chunks/9a875_@solflare-wallet_sdk_lib_esm_index_49f8c455.js
app/.next/dev/static/chunks/9a875_@swc_helpers_cjs_dd0d5ac0._.js
app/.next/dev/static/chunks/9a875_@swc_helpers_cjs_dd0d5ac0._.js.map
app/.next/dev/static/chunks/9a875_2f6d3b48._.js
app/.next/dev/static/chunks/9a875_2f6d3b48._.js.map
app/.next/dev/static/chunks/9a875_a921b5cc._.js
app/.next/dev/static/chunks/9a875_a921b5cc._.js.map
app/.next/dev/static/chunks/9a875_c4690973._.js
app/.next/dev/static/chunks/9a875_c4690973._.js.map
app/.next/dev/static/chunks/9a875_d020c951._.js
app/.next/dev/static/chunks/9a875_d020c951._.js.map
app/.next/dev/static/chunks/9a875_next_app_83357ebf.js
app/.next/dev/static/chunks/9a875_next_app_83357ebf.js.map
app/.next/dev/static/chunks/9a875_next_dist_503be5b3._.js
app/.next/dev/static/chunks/9a875_next_dist_503be5b3._.js.map
app/.next/dev/static/chunks/9a875_next_dist_558733e3._.js
app/.next/dev/static/chunks/9a875_next_dist_558733e3._.js.map
app/.next/dev/static/chunks/9a875_next_dist_aefba5a9._.js
app/.next/dev/static/chunks/9a875_next_dist_aefba5a9._.js.map
app/.next/dev/static/chunks/9a875_next_dist_b0896c13._.js
app/.next/dev/static/chunks/9a875_next_dist_b0896c13._.js.map
app/.next/dev/static/chunks/9a875_next_dist_build_polyfills_polyfill-nomodule.js
app/.next/dev/static/chunks/9a875_next_dist_client_0969fd79._.js
app/.next/dev/static/chunks/9a875_next_dist_client_0969fd79._.js.map
app/.next/dev/static/chunks/9a875_next_dist_client_components_builtin_global-error_c3784029.js
app/.next/dev/static/chunks/9a875_next_dist_client_d4b642ae._.js
app/.next/dev/static/chunks/9a875_next_dist_client_d4b642ae._.js.map
app/.next/dev/static/chunks/9a875_next_dist_compiled_8b391b62._.js
app/.next/dev/static/chunks/9a875_next_dist_compiled_8b391b62._.js.map
app/.next/dev/static/chunks/9a875_next_dist_compiled_cc94968c._.js
app/.next/dev/static/chunks/9a875_next_dist_compiled_cc94968c._.js.map
app/.next/dev/static/chunks/9a875_next_dist_compiled_next-devtools_index_1fd476d5.js
app/.next/dev/static/chunks/9a875_next_dist_compiled_next-devtools_index_1fd476d5.js.map
app/.next/dev/static/chunks/9a875_next_dist_compiled_react-dom_b9f324b7._.js
app/.next/dev/static/chunks/9a875_next_dist_compiled_react-dom_b9f324b7._.js.map
app/.next/dev/static/chunks/9a875_next_dist_compiled_react-server-dom-turbopack_ababe6de._.js
app/.next/dev/static/chunks/9a875_next_dist_compiled_react-server-dom-turbopack_ababe6de._.js.map
app/.next/dev/static/chunks/9a875_next_dist_dd9651c5._.js
app/.next/dev/static/chunks/9a875_next_dist_dd9651c5._.js.map
app/.next/dev/static/chunks/9a875_next_dist_shared_lib_7b43075f._.js
app/.next/dev/static/chunks/9a875_next_dist_shared_lib_7b43075f._.js.map
app/.next/dev/static/chunks/9a875_next_dist_shared_lib_e01a9828._.js
app/.next/dev/static/chunks/9a875_next_dist_shared_lib_e01a9828._.js.map
app/.next/dev/static/chunks/9a875_next_error_d5540e00.js
app/.next/dev/static/chunks/9a875_next_error_d5540e00.js.map
app/.next/dev/static/chunks/9a875_react-dom_2ceb2ce6._.js
app/.next/dev/static/chunks/9a875_react-dom_2ceb2ce6._.js.map
app/.next/dev/static/chunks/app_3747a503._.js
app/.next/dev/static/chunks/app_3747a503._.js.map
app/.next/dev/static/chunks/app_7587f2d8._.css
app/.next/dev/static/chunks/app_7587f2d8._.css.map
app/.next/dev/static/chunks/app_a0ff3932._.js
app/.next/dev/static/chunks/app_c5abdf0b._.js.map
app/.next/dev/static/chunks/app_pages__app_2da965e7._.js
app/.next/dev/static/chunks/app_pages__app_33abadcf._.js.map
app/.next/dev/static/chunks/app_pages__error_2da965e7._.js
app/.next/dev/static/chunks/app_pages__error_9a3e8140._.js.map
app/.next/dev/static/chunks/app_src_5af594f8._.js
app/.next/dev/static/chunks/app_src_5af594f8._.js.map
app/.next/dev/static/chunks/app_src_5efba4d2._.js
app/.next/dev/static/chunks/app_src_5efba4d2._.js.map
app/.next/dev/static/chunks/app_src_app_globals_css_bad6b30c._.single.css
app/.next/dev/static/chunks/app_src_app_globals_css_bad6b30c._.single.css.map
app/.next/dev/static/chunks/app_src_app_layout_tsx_c3784029._.js
app/.next/dev/static/chunks/app_src_app_options_page_tsx_ae8bd98b._.js
app/.next/dev/static/chunks/app_src_app_page_tsx_ae8bd98b._.js
app/.next/dev/static/chunks/turbopack-app_c5abdf0b._.js
app/.next/dev/static/chunks/turbopack-app_pages__app_33abadcf._.js
app/.next/dev/static/chunks/turbopack-app_pages__error_9a3e8140._.js
app/.next/dev/static/chunks/pages/_app.js
app/.next/dev/static/chunks/pages/_error.js
app/.next/dev/static/development/_buildManifest.js
app/.next/dev/static/development/_ssgManifest.js
app/.next/dev/types/routes.d.ts
app/.next/dev/types/validator.ts
app/.next/types/routes.d.ts
app/.next/types/validator.ts
